.categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    height: 300px;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.categorie h2 {
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    color: #014FD1;
    text-shadow: 
        -1px -1px 0 #FED000,
        1px -1px 0 #FED000,
        -1px 1px 0 #FED000,
        1px 1px 0 #FED000,
        -1px 0 0 #FED000,
        1px 0 0 #FED000,
        0 -1px 0 #FED000,
        0 1px 0 #FED000;
}

.accueil h1 {
    text-align: center;
}